/* src/styles/settingsview.css */

.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #0a0e33;
    font-family: "General Sans", sans-serif;
    color: white;
    padding-top: 120px;
}

.settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.settings-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
}

.delete-error {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 24px;
    text-align: center;
    margin-bottom: 48px;
}
